:root {
	--light-text: #eaecee;
	--faded-light-text: #eaecee8a;

	--score-text: #f1c40f;
	--faded-score-text: #f1c40f81;

	--upgraded-sgmt: #f1c40f;
	--unupgraded-sgmt: #f1c40f22;
}

body {
	font-family: Arial, sans-serif;
}

.hidden {
	display: none !important;
}

.tiny {
	font-size: .5em;
}

/* INTRO SCREEN */
#introScreenContainer {
	position: absolute;
	/* higher than #overlayContainer */
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* UI CONTINER */
#uiContainer {
	position: absolute;
	/* higher than #overlayContainer and #scoreScreenContainer */
	z-index: 3;
	/* define ui dimensions in terms of view-width to scale neatly with canvas */
	width: 15vw;
	height: 15vw;
	font-size: 1vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}

/* OVERLAY CONTAINER (kept in sync with canvas via ResizeObserver) */
#overlayContainer {
	z-index: 1;
	display: grid;
	grid-template-rows: .5em repeat(3, max-content) .5em;
	grid-template-columns: .5em 1fr .5em;
}

/* SCORE OVERLAY */
#scoreOverlay {
	grid-column: 2 / -2;
	grid-row: 4;
	color: white;
}
#roundOverlay {
	grid-column: 2 / -2;
	grid-row: 2;
	color: white;
}
#durationOverlay {
	grid-column: 2 / -2;
	grid-row: 3;
	color: white;
}

/* SCORE SCREEN */
#scoreScreenContainer {
	position: absolute;
	/* higher than #overlayContainer */
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #17202afb;
	color: var(--light-text);

	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	padding: 1em;
	gap: 1em;
}

#scoreScreenTitleContainer {
	grid-column: 1;
	grid-row: 1;

	display: grid;
	grid-template-columns: 1fr max-content 1fr;

	.title-text {
		font-size: 3em;
		text-align: center;
	}

	.spendable-points {
		text-align: right;
		color: var(--score-text);
	}
}

#scoreScreenContent {
	grid-column: 1;
	grid-row: 2;

	overflow-y: auto;
}

#scoreTabContent {
	display: grid;
	grid-template: 1fr / 1fr;
	justify-items: center;
	align-items: center;
}

#scoreTable {
	width: 20em;
	border-collapse: collapse;
	/* border-spacing: 0; */
}

#scoreTable .static-row {
	border-bottom: 1px solid;
}

#scoreTable .static-row td {
	padding-top: 1.5em;
}

#scoreTable td.ind-1 {
	padding-left: 2em;
}

#scoreTable td.value {
	text-align: right;
}

#scoreTable td.score {
	text-align: right;
	color: var(--score-text);
}

#scoreTable .agg-value {
	color: var(--faded-light-text);
}

#scoreTable td.score.agg-score {
	color: var(--faded-score-text);
}

#scoreTableTotal.static-row {
	color: var(--score-text);
	font-weight: bold;
	border: none;
}

#scoreScreenFooter {
	grid-column: 1;
	grid-row: 3;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
}

#scoreScreenFooter .tab-button {
	display: block;
	font-size: 1.5em;
	height: 2em;
}

/* 
-------------------------
Upgrades Tab
-------------------------
*/
#upgradesTabContent {
	display: grid;
	grid-template: 1fr / 1fr;
	justify-items: center;
	align-items: center;
	font-size: .75em;

	#weaponUpgradesGrid {
		width: 40em;

		display: grid;
		grid-template-columns: max-content 1fr max-content;
		row-gap: .5em;
		column-gap: 2em;

		.weapon-name {
			padding-top: 2em;
		}

		.stat-name {
			padding-left: 2em;
		}

		.stat-bar {
			display: flex;
			align-items: center;
			gap: .5em;

			.base-sgmt {
				background-color: var(--light-text);

				&.infinite {
					background-color: var(--faded-light-text);
					color: black;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			.base-sgmt,
			.upgraded-sgmt,
			.unupgraded-sgmt {
				border-radius: .25em;
				height: .75em;
			}

			.upgraded-sgmt {
				background-color: var(--upgraded-sgmt);
			}

			.unupgraded-sgmt {
				background-color: var(--unupgraded-sgmt);
			}
		}
	}
}
